.jumbotron {
    color: white;
    padding-top: 2rem;
    background-size: cover;
    background-image: url(img/pexels-pixabay-460696.jpg);
}

.body {
    font-family: 'PT Serif', serif;
    scroll-behavior: smooth;

}

.test {
    padding-top: 1rem;
}

.abd {
    padding-top: 2rem;
    /* background-color: #7ac1e4ac; */
    background-image: url(img/hand-painted-watercolor-background-with-sky-clouds-shape.jpg);
}

.zzz {
    padding-top: 2rem;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.p {
    background-color: azure;
}